{
  "bookmarks": {
    "companies": {
      "updated_at": "2020-04-30T14:37:41+00:00"
    },
    "contacts": {
      "updated_at": "2020-04-30T16:21:56+00:00"
    },
    "conversations": {
      "updated_at": "2020-04-30T09:38:38+00:00"
    },
    "segments": {
      "updated_at": "2020-02-20T12:31:38+00:00"
    }
  }
}